body {
    font-family: Arial, sans-serif;
    background: url('./micorsoft.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signin-container {
    background-color: rgba(255, 255, 255, 0.9); /* Slight transparency to show background */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.logo img {
    width: 100px;
    margin-bottom: 1%;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}

.signin-button {
    width: 100%;
    padding: 10px;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.signin-button:hover {
    background-color: #005a9e;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #0078d4;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.create-account {
    margin-top: 20px;
}

.create-account a {
    color: #0078d4;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}
